
# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "DATA[7]" IOSTANDARD = LVCMOS33;
NET "DATA[6]" IOSTANDARD = LVCMOS33;
NET "DATA[5]" IOSTANDARD = LVCMOS33;
NET "DATA[4]" IOSTANDARD = LVCMOS33;
NET "DATA[3]" IOSTANDARD = LVCMOS33;
NET "DATA[2]" IOSTANDARD = LVCMOS33;
NET "DATA[1]" IOSTANDARD = LVCMOS33;
NET "DATA[0]" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "D_in" IOSTANDARD = LVCMOS33;
NET "D_out" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "clk" LOC = V10;
NET "clr" LOC = B8;
NET "D_in" LOC = N17;
NET "D_out" LOC = N18;
NET "DATA[7]" LOC = T11;
NET "DATA[6]" LOC = R11;
NET "DATA[5]" LOC = N11;
NET "DATA[4]" LOC = M11;
NET "DATA[3]" LOC = V15;
NET "DATA[2]" LOC = U15;
NET "DATA[1]" LOC = V16;
NET "DATA[0]" LOC = U16;
